.reset-password form {
  width: 60%;
  margin: 2rem auto 0 auto;
  background-color: var(--secondary);
  color: var(--titleColor);
  border-radius: 1rem;
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
}
.reset-password-title h2 {
  margin-bottom: 2rem;
}
.reset-password-title h2 {
  color: var(--mainColor);
  font-size: 40px;
}
.reset-password input {
  padding: 10px 20px;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1.5px solid var(--mainColor);
  outline: none;
  font-size: 16px;
}
.reset-password button {
  background-color: var(--mainColor);
  text-align: center;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
}
.reset-password button:hover {
  background-color: #ff4d2d;
}

@media screen and (max-width: 850px) {
  .reset-password form {
    width: 80%;
  }
}
@media screen and (max-width: 650px) {
  .reset-password-title h2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 500px) {
  .reset-password form {
    width: 90%;
  }
  .reset-password-title h2 {
    font-size: 25px;
  }
}
